<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/web/css/font-awesome.css" rel="stylesheet" />
    <link href="~/web/css/style.css" rel="stylesheet" />
    <script src="~/web/js/jquery-2.1.4.min.js"></script>
    <script src="~/web/js/particles.min.js"></script>
    <a href="~/web/fonts/fontawesome-webfont.eot"></a>
    <a href="~/web/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/web/fonts/fontawesome-webfont.woff"></a>
    <a href="~/web/fonts/FontAwesome.otf"></a>
    <a href="~/web/fonts/glyphicons-halflings-regular.woff"></a>
    <a href="~/web/fonts/glyphicons-halflings-regular.woff2"></a>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>