@model Loginsystem2.Models.User1
@{
    ViewBag.Title = "adminLogin";
    Layout = "~/Views/_LayoutPage3.cshtml";
}

<div class="main">
    <canvas id="myCanvas"></canvas>
    <div class="main-w3l">
        <h1 class="logo-w3">Admin Login</h1>
        <div class="w3layouts-main">
            <h2>Login Now</h2>
            <form action="#" method="post">
                @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "cntrol col-mid-2" } })
                <span class="icons i1"><i class="fa fa-user" aria-hidden="true"></i></span>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "cntrol col-mid-2" } })
                <span class="icons i2"><i class="fa fa-key" aria-hidden="true"></i></span>
                <input type="submit" value="Login" name="login">
            </form>
            <h6><a href="#">Forgot Password?</a></h6>
            <h3>(or)</h3>
            <div class="social_icons agileinfo">
                <ul class="top-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="clear"></div>
        <!-- //main -->
        <!--footer-->
        <div class="footer-w3l">
            <p>&copy; 2017 Stylish Creative Forms. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
        <!--//footer-->
    </div>
</div>


<!--scripts-->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- particles-JavaScript -->
<script src="js/particles.min.js"></script>
<script>
    window.onload = function () {
        Particles.init({
            selector: '#myCanvas',
            color: '#eba7a7',
            connectParticles: true,
            minDistance: 90
        });
    };
</script>

<!-- //particles-JavaScript -->
<!--//scripts-->
