
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/_LayoutPage2.cshtml";

}
<br />
<div class="banner-w3l-main">
    <div class="w3l-banner-content">
        <div class="container">
            <div class="bannerhny-info text-center">
                <h6 class="title-subhny mb-2">Unemployed S&S Advertesment</h6>
                <h3 class="">BEST ADVERTISEMENT PLATFORM. BEST SERVICES.</h3>
                <a class="btn btn-style btn-white mt-sm-5 mt-4" href="~/Views/User2/User.cshtml">
                    Read More
                </a>
            </div>
        </div>
    </div>
</div>
<!--/w3l-content-1-->
<div class="w3l-content-1 py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row w3l-content-inf mt-lg-5 pt-lg-5">
            <div class="col-lg-5 w3l-content-left mt-lg-4">
                <h6 class="title-subhny mb-2">About Us</h6>
                <h3 class="title-w3l mb-4">Connecting People.</h3>
            </div>
            <div class="col-lg-7 w3l-content-right pl-lg-5 mt-lg-4">
                <p class="para-sub pr-lg-5 mt-md-4 mt-3 mx-auto">
                    Unemployed skills and services advertisment
                    platform.
                    Connecting people.
                    We belive in proving a platform to people of South Africa who are currently unemployed, have skills in certain fields and are looking for people who can utilize their skills and services.
                </p>
                <p class="para-sub pr-lg-5 mt-md-4 mt-3 mx-auto">
                    The unemployed skills and services advertisment
                    has been succesfull
                    in helping the people
                    of Mzansi with finding clients.
                </p>
                <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="about.html">
                    Read More
                </a>
            </div>
        </div>
    </div>
</div>
<!--//w3l-content-1-->
<!-- /w3l-content-2-->
<div class="w3l-content-2 py-5">
    <div class="container py-md-5 py-2">
        <div class="row whybox-wrap">
            <div class="col-lg-6 whybox-wrap-left">
                <div class="title-content text-left">
                    <h6 class="title-subhny">Extraordinary Services</h6>
                    <h3 class="title-w3l mb-sm-5 mb-4 pb-2">Why You Should Choose this platform.</h3>
                </div>

                <div class="whybox-wrap-grid mb-4">
                    <div class="icon">
                        <span class="fa fa-calendar"></span>
                    </div>
                    <div class="info">
                        <h4><a href="#url">2 Years Of Existance</a></h4>
                        <p class="mt-3">The Unemployed skills and services platform has been sucessfully helping unemployed people advertise their skills and services for more than 2 years now and it continues to provide its users with a platform. </p>
                    </div>
                </div>
                <div class="whybox-wrap-grid mb-4">
                    <div class="icon">
                        <span class="fa fa-pencil-square-o"></span>
                    </div>
                    <div class="info">
                        <h4><a href="#url">Quality Services</a></h4>
                        <p class="mt-3">We advertise people who offer and provide quality services, find the best person for the job. </p>
                    </div>
                </div>
                <div class="whybox-wrap-grid mb-4">
                    <div class="icon">
                        <span class="fa fa-shield"></span>
                    </div>
                    <div class="info">
                        <h4><a href="#url">100% Guranteed</a></h4>
                        <p class="mt-3">The platform is helping and connecting people. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 whybox-wrap-right pl-lg-5 position-relative mt-lg-0 mt-4">
                <img src="~/assets/images/89551aa8-unemployment-lower-but-black-women-the-youth-remain-themmm-most-vulnerable-696x445.jpeg" alt="" class="img-fluid radius-image">
                <img src="~/assets/images/20190427_SRP04844_0.jpg" alt="" class="img-fluid radius-image" />
            </div>
        </div>

    </div>
</div>
<!-- //w3l-content-2-->
<!--/Blog-Posts-->
<section class="w3l-blog py-5" id="blog">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center">
            <h6 class="title-subhny text-center">Service</h6>
            <h3 class="title-w3l pb-sm-o pb-2 text-center">Popular Advertisements</h3>
        </div>
        <div class="row inner-sec-w3ls">
            <!--/services-grids-->
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/plumber-600x387hhh.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a>@Html.ActionLink("John Smith", "User", "User2")</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Plumber.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Jan 22,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/anaya-katlego-792064-unsplash-e15607973819644889999.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        @using (Html.BeginForm("User2", "User2", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <div class="blog-des mt-4">
                                <h5 class="card-cap mb-2"><a>@Html.ActionLink("Ntuthuko Gambu", "User", "User2")</a></h5>
                                <h5 class="card-title mb-2">
                                    <a href="blog-single.html">Service: Gardener.</a>
                                </h5>
                                <ul class="admin-post mb-3">
                                    <li>
                                        <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                    </li>
                                    <li>
                                        <p><span class="fa fa-clock-o"></span> Jan 24,2021</p>
                                    </li>
                                    <li>
                                        <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                                    </li>
                                </ul>

                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/South-Africa.Domestic-worker-in-Johannesburg2.Jemal-Countess.20rt14.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Bongi Zungu </a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Domestic Worker.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Jan 28,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 0</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-blog py-5" id="blog">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row inner-sec-w3ls">
            <!--/services-grids-->
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/20211101_12361911110.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">PSK Constructions</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Construction .</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Aug 22,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 9</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/mechanic20211101_124616.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Lira Mahlangu</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Mechanic.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> May 01,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 10</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/20211126_081252image.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Samkelo Mahlobo </a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Electrician.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Apr 28,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//Blog-Posts-->
<section class="w3l-stats py-lg-0 py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <span class="fa fa-users"></span>
                <p class="counter">100</p>
                <h4>Advertisers</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid1">
                <span class="fa fa-laptop"></span>
                <p class="counter">160</p>
                <h4>Clients</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <span class="fa fa-smile-o"></span>
                <p class="counter">112</p>
                <h4>Happy Clients</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
                <span class="fa fa-trophy"></span>
                <p class="counter">180</p>
                <h4>Success Meets</h4>
            </div>
        </div>
    </div>
</section>
<!-- /w3l-content-3-->
<section class="w3l-content-3 py-5">
    <!-- /content-6-section -->
    <div class="content-3-info py-3">
        <div class="container py-lg-4">
            <div class="row appointment-formw3">
                <div class="col-lg-6 welcome-left">
                    <h6 class="title-subhny mb-2">Send us a request </h6>
                    <h3 class="title-w3l two mb-3">Make a Request</h3>
                    <p class="mb-3">
                        If you are not finding the type of service you are looking for you can kindly send make a request and we will find the best candidate for the job, CHECK YOUR EMAILS!!!.

                    </p>
                    <p>We believe in providing the best possible care to all our existing clients and welcome new clients..</p>
                    <a class="btn btn-style btn-outline-light mt-sm-5 mt-4 mr-2" href="#">
                        Contact Us
                    </a>
                </div>
                <div class="col-lg-6 free-appointment pl-lg-5 mt-5">
                    <div class="appointment-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input">

                                    <div class="appointment-form-field">

                                        <input type="text" name="fullname" placeholder="Full Name" required="">
                                    </div>
                                </div>
                                <div class="styled-input">

                                    <div class="appointment-form-field">

                                        <input type="email" name="email" placeholder="Enter Email" required="">
                                    </div>
                                </div>
                                <div class="styled-input">

                                    <div class="appointment-form-field">

                                        <input type="text" name="phone" placeholder="Enter Number" required="">
                                    </div>
                                </div>

                                <div class="styled-input">

                                    <div class="appointment-form-field">

                                        <input type="date" name="date" placeholder="Set a Date" required="">
                                    </div>
                                </div>
                                <div class="styled-input">

                                    <div class="appointment-form-field">

                                        <select id="Location" required="Location">
                                            <option value="">province</option>
                                            <option value="">Gauteng</option>
                                            <option value="">KZN</option>
                                            <option value="">Mpumalanga</option>
                                            <option value="">Limpompo</option>
                                            <option value="">North West</option>
                                            <option value="">Eastern Cape</option>
                                            <option value="">Western Cape</option>
                                            <option value="">Free State</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="styled-input">

                                    <div class="appointment-form-field">

                                        <select id="candidate age" required="Select age">
                                            <option value="">Select age</option>
                                            <option value="">18-23</option>
                                            <option value="">23-25</option>
                                            <option value="">25-27</option>
                                            <option value="">28-30</option>
                                            <option value="">30-33</option>
                                            <option value="">33-35</option>
                                            <option value="">Any age</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="appointment-btn text-lg-right">
                                <button type="submit" class="btn btn-style btn-primary mt-4">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //w3l-content-3-->
<!-- testimonials section -->
<section class="w3l-clients w3l-test pb-5" id="testimonials">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 pt-2 pb-lg-5">
            <div class="title-content text-center">
                <h6 class="title-subhny text-center">Happy Clients</h6>
                <h3 class="title-w3l mb-sm-5 mb-4 pb-sm-o pb-2 text-center">What Our Clients Say</h3>
            </div>
            <div id="owl-demo2" class="owl-carousel owl-theme mt-4 py-md-2 mb-md-4">
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>appreciation</q>
                            </blockquote>
                            <p>
                                A helpful website, use it all the time to find services and skills, thankful.
                            </p>
                        </div>
                        <div class="bottom-info mt-4">
                            <a class="comment-img" href="#url">
                                <img src="~/assets/images/FB_IMG_15482630530796292.jpg" class="img-responsive"
                                     alt="placeholder image">
                            </a>
                            <div class="people-info align-self">
                                <h3>Sanele Tshabalala</h3>
                                <p class="identity">Downtown</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>gratitude</q>
                            </blockquote>
                            <p>
                                One of the clients to have used this website and it is a wonderful experince.
                            </p>
                        </div>
                        <div class="bottom-info mt-4">
                            <a class="comment-img" href="#url">
                                <img src="~/assets/images/FB_IMG_15328744840177900.jpg" class="img-responsive"
                                     alt="placeholder image">
                            </a>
                            <div class="people-info align-self">
                                <h3>Samkelo Mahlobo</h3>
                                <p class="identity">Standerton</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>appreciation</q>
                            </blockquote>
                            <p>
                                I used this plaform more than once and it has helped me find the service I am looking for.
                            </p>
                        </div>
                        <div class="bottom-info mt-4">
                            <a class="comment-img" href="#url">
                                <img src="~/assets/images/South-Africa.Domestic-worker-in-Johannesburg2.Jemal-Countess.20rt14.jpg" class="img-responsive"
                                     alt="placeholder image" />
                            </a>
                            <div class="people-info align-self">
                                <h3>Simphiwe Khoza</h3>
                                <p class="identity">Secunda</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>Appreciation</q>
                            </blockquote>
                            <p>
                                I used this plaform more than once and it has helped me find the service I am looking for.
                            </p>
                        </div>
                        <div class="bottom-info mt-4">
                            <a class="comment-img" href="#url">
                                <img src="~/assets/images/IMG_20180226_171947.jpg" class="img-responsive"
                                     alt="placeholder image">
                            </a>
                            <div class="people-info align-self">
                                <h3>Julia Ngema</h3>
                                <p class="identity">Mbalenhle</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>gratitude</q>
                            </blockquote>
                            <p>
                                I used this plaform more than once and it has helped me find the service I am looking for.
                            </p>
                        </div>
                        <div class="bottom-info mt-4">
                            <a class="comment-img" href="#url">
                                <img src="~/assets/images/IMG_20180226_174014.jpg" class="img-responsive"
                                     alt="placeholder image">
                            </a>
                            <div class="people-info align-self">
                                <h3>Saun Luke</h3>
                                <p class="identity">Kimbely</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>Appreciation.</q>
                            </blockquote>
                            <p>
                                I used this plaform more than once and it has helped me find the service I am looking for.

                            </p>
                        </div>
                        <div class="bottom-info mt-4">
                            <a class="comment-img" href="#url">
                                <img src="~/assets/images/team2.jpg" class="img-responsive"
                                     alt="placeholder image">
                            </a>
                            <div class="people-info align-self">
                                <h3>Selina Smith</h3>
                                <p class="identity">Secunda</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials section -->
<!-- Template JavaScript -->
<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/assets/js/theme-change.js"></script>
<!-- owl carousel -->
<script src="~/assets/js/owl.carousel.js"></script>
<!-- script for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
        $("#owl-demo2").owlCarousel({
            loop: true,
            nav: false,
            margin: 50,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                },
                991: {
                    items: 2,
                    margin: 30,
                    nav: false
                },
                1080: {
                    items: 3,
                    nav: false
                }
            }
        })
    })
</script>
<!-- //script for tesimonials carousel slider -->
<!-- stats number counter-->
<script src="~/assets/js/jquery.waypoints.min.js"></script>
<script src="~/assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
