

@{
    ViewBag.Title = "Adverts";
    <link href="~/userblog/css/styleuser.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
}

<section class="w3l-blog py-5" id="blog">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center">
            <h6 class="title-subhny text-center">Unemployed Skills&Services</h6>
            <h2 class="title-w3l pb-sm-o pb-2 text-center">Advertisements</h2>
        </div>
        <div class="row inner-sec-w3ls">
            <!--/services-grids-->
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/plumber-600x387hhh.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a>@Html.ActionLink("John Smith", "User", "User2")</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Plumber.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Jan 22,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/anaya-katlego-792064-unsplash-e15607973819644889999.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        @using (Html.BeginForm("User2", "User2", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <div class="blog-des mt-4">
                                <h5 class="card-cap mb-2"><a>@Html.ActionLink("Ntuthuko Gambu", "User", "User2")</a></h5>
                                <h5 class="card-title mb-2">
                                    <a href="blog-single.html">Service: Gardener.</a>
                                </h5>
                                <ul class="admin-post mb-3">
                                    <li>
                                        <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                    </li>
                                    <li>
                                        <p><span class="fa fa-clock-o"></span> Jan 24,2021</p>
                                    </li>
                                    <li>
                                        <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                                    </li>
                                </ul>

                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/South-Africa.Domestic-worker-in-Johannesburg2.Jemal-Countess.20rt14.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Bongi Zungu </a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Domestic Worker.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Jan 28,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 0</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-blog py-5" id="blog">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row inner-sec-w3ls">
            <!--/services-grids-->
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/20211101_12361911110.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">PSK Constructions</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Construction .</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Aug 22,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 9</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/mechanic20211101_124616.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Lira Mahlangu</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Mechanic.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> May 01,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 10</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/20211126_081252image.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Samkelo Mahlobo </a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Graphic Designer.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Apr 28,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-blog py-5" id="blog">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row inner-sec-w3ls">
            <!--/services-grids-->
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/20211126_082334gimage.jpg"  alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Peter Jackson</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Painter .</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Aug 22,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 9</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/20211126_082400the.jpg"  alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Thembi Ndlovu</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Carpenter.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> May 01,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 10</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/Graphic-Desiign.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Samkelo Mahlobo </a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Graphic Designer.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Apr 28,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-blog py-5" id="blog">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row inner-sec-w3ls">
            <!--/services-grids-->
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/20211101_12361911110.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">PSK Constructions</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Construction .</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Aug 22,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 9</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/mechanic20211101_124616.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Lira Mahlangu</a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Mechanic.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> May 01,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 10</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
                <div class="card img">
                    <div class="card-body img">
                        <a href="blog-single.html" class="d-block">
                            <img src="~/assets/images/South-Africa.Domestic-worker-in-Johannesburg2.Jemal-Countess.20rt14.jpg" alt="" class="img-fluid radius-image">
                        </a>
                        <div class="blog-des mt-4">
                            <h5 class="card-cap mb-2"><a href="blog-single.html">Samkelo Mahlobo </a></h5>
                            <h5 class="card-title mb-2">
                                <a href="blog-single.html">Service: Graphic Designer.</a>
                            </h5>
                            <ul class="admin-post mb-3">
                                <li>
                                    <span class="fa fa-user"></span><a href="#admin"> by Admin</a>
                                </li>
                                <li>
                                    <p><span class="fa fa-clock-o"></span> Apr 28,2021</p>
                                </li>
                                <li>
                                    <a href="#comments"><span class="fa fa-comments-o"></span> 3</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//Blog-Posts-->
<!-- Template JavaScript -->
<script src="~/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/assets/js/theme-change.js"></script>
<!-- owl carousel -->
<script src="~/assets/js/owl.carousel.js"></script>
<!-- script for tesimonials carousel slider -->
<script>
    $(document).ready(function () {
        $("#owl-demo2").owlCarousel({
            loop: true,
            nav: false,
            margin: 50,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                },
                991: {
                    items: 2,
                    margin: 30,
                    nav: false
                },
                1080: {
                    items: 3,
                    nav: false
                }
            }
        })
    })
</script>
<!-- //script for tesimonials carousel slider -->
<!-- stats number counter-->
<script src="~/assets/js/jquery.waypoints.min.js"></script>
<script src="~/assets/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!--//MENU-JS-->
