

@{
    ViewBag.Title = "User";
    <link href="~/userblog/css/styleuser.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/web/css/font-awesome.css" rel="stylesheet" />
}
<br />
<div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-5">
    <div class="card img">
        <div class="card-body img">
            <a href="blog-single.html" class="d-block">
                <img src="~/assets/images/plumber-600x387hhh.jpg" alt="" class="img-fluid radius-image">
            </a>
            <div class="blog-des mt-4">
                <h4 class="card-cap mb-2"><a> John Smith</a></h4>
                <h4 class="card-title mb-2">
                    <a>Service: Plumber.</a>
                </h4>
                <h4><span class="fa fa-phone"></span><a href="#admin"> 072 664 7869</a></h4>
                <h4><span class="fa fa-location-arrow"></span><a href="#admin"> Location: Durban CBD</a></h4>
                <ul class="admin-post mb-4">
                    <li>
                        <span class="fa fa-envelope-o"></span><a href="#admin"> Email</a>
                    </li>
                    <li>
                        <a href="#comments"><span class="fa fa-facebook"></span> facebook</a>
                    </li>
                    <li>
                        <a href="#comments"><span class="fa fa-twitter"></span> twitter</a>    <a href="#comments"><span class="fa fa-linkedin"></span> linkedin</a>
                    </li>
                    
                   
                </ul>
            </div>
        </div>
    </div>
</div>





